* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #fff;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236fe638' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Figtree', sans-serif;;
}
a {
    color: #fff;
    text-decoration: none; 
}
ul{
    list-style: none;
}
.contenedor {
    width: 90%;
    margin: auto;
}
.nav-main{
    font-size: 18px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;  
}
.nav-brand{
    width: 50px;
}

/*Navegación izquierda*/
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;
}
.nav-main ul li a{
    padding: 2px;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

hr{
    margin: 10px 0;
}

/*SHOWCASE*/
.showcase{
    width: 100%;
    height: 550px;
    background-color: green;
    background: url('./img/showcase2.jpg') no-repeat center center/cover;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
}
.showcase h2,
.showcase p{
    margin-bottom: 10px;
}

/*BOTON*/
.btn{
    cursor: pointer;
    display: inline-block ;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid #fff ;
    margin: 10px;
}
.btn:hover{
    opacity: .7;
}

/*Tarjetas de noticias*/
.news-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;          /*espaciado interno grilla*/
    margin: 10px 0;

}
.news-cards img{
    width: 100%;
    height: 180px;
}
.news-cards h3{
    font-size: 20 px;
    margin: 10px 0;
}
.news-cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
}
.news-cards a:hover{
    text-decoration: underline;
}

/*TARJETA BANNER 1*/
.cards-banner-one{
    width:100%;
    height: 350px;
    background: url('./img/tech-red.jpg');
    margin-bottom: 40px;
}
.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
}
.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0 20px 0;
}

/*TARJETA BANNER 2*/
.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url('./img/image-five.jpg') no-repeat center center/cover;
}
.cards-banner-two .content{
    width: 50%;
    padding: 100px 0 0 30px;
}

/*SOCIAL*/
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    margin: 0 30px;
}
.links a i{
    font-size: 3rem;
}